/*
*
*   SUMMARY: 
*
*   1. Font Faces
*   2. CSS Variables
*   3. Tailwind Rules
*   4. Tailwind Styling.
*   5. Custom Styles.
*
*/

/* ==== 1. Font Faces ==== */

/* Poppins Font */

@font-face {
    font-family: 'poppins';
    src: url(./fonts/poppins/Poppins-Regular.ttf);
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'poppins';
    src: url(./fonts/poppins/Poppins-Medium.ttf);
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'poppins';
    src: url(./fonts/poppins/Poppins-SemiBold.ttf);
    font-weight: 600;
    font-display: swap;
}

/* Pixeloid Sans Font */

@font-face {
    font-family: 'pixeloid-sans';
    src: url(./fonts/pixeloid-sans/PixeloidSans.ttf);
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'pixeloid-sans';
    src: url(./fonts/pixeloid-sans/PixeloidSans-Bold.ttf);
    font-weight: 700;
    font-display: swap;
}

/* ==== 2. CSS Variables ==== */

:root {
    --color-white: #f1f2ff;
    --color-black: #333;
    --color-red: #ff2d75;
    --color-green: #4fc3dc;

    --color-primary: #5d67c8;
    --color-text: var(--color-black);
    --bg-color: var(--color-white);
    --bg-color-lighter: #fff;
}

html.dark {
    --color-text: var(--color-white);
    --bg-color: #3a3a3a;
    --bg-color-lighter: var(--color-black);
}

/* ==== 3. Tailwind Rules ==== */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ==== 4. Tailwind Styling ==== */

@layer base {
    body {
        @apply bg-main-bg font-poppins font-normal;
    }

    button {
        @apply block cursor-default;
    }
}

/* ==== 5. Custom Styles ==== */

/** __next is being used as the layout container for `Layout` component */
#__next {
    @apply min-h-screen grid gap-4;
    grid-template-rows: auto 1fr auto;
}

.icon-size {
    @apply w-7;
}

.btn {
    @apply p-2 px-5 rounded-sm font-semibold transition;
}

.btn-primary {
    @apply bg-primary hover:brightness-90 active:brightness-110 text-white;
}

.btn-outlined-primary {
    @apply border border-text-color text-text-color hover:border-primary hover:bg-primary hover:text-white;
}
